:root {
    --color: #799674;
    --font: Arial, sans-serif;
}


body{
    margin: 0;
    padding: 0;
    overflow-x: hidden; 
    overflow-y: hidden;
    background: #ffffff;
    background: linear-gradient(181deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 68%, rgba(230, 211, 171, 0.83) 99%);
}

/* Início top-nav */

#filtrar_usuarios {
    display: none;
    position: absolute;
    width: 160px;
    min-height: 100px;
    max-width: 230px;
    right: 70px;
    top: 60px;
    z-index: 1;
    flex-wrap: wrap; /* quebrar para a próxima linha */

    padding: 10px;
    border-radius: 25px;
    border: solid 2px rgba(206, 206, 206, 0.281);
    background: white;
}

#filtrar_usuarios p {
    display: flex;
    height: 20px;
    max-width: max-content;
    margin: 4px;
    padding: 1px 10px 1px 10px;
    border: solid 1px rgb(0, 0, 0);
    border-radius: 25px;
}

#top-nav {
    height: 60px;
    width: 100vw;
    display: flex;
    background: white;
}

#top-nav h3 {
    height: 40px;
    margin-left: 20px;
    margin-right: 150px;

    font: bold 20px Arial, sans-serif;
    letter-spacing: 1px;
}

#ferramentas_busca {
    position: fixed;
    display: flex;
    margin: auto;
    left: 220px;
}

#ferramentas_busca h4 {
    height: 40px;
    margin-right: 10px;
    color: var(--color);
}

#buscar {
    height: 27px;
    width: 27px;
    margin-top: 17px;
    margin-left: 5px;

    border: none;
    border-radius: 15px 0 0 15px;
    cursor: pointer;
    background: none;
    color: var(--color);
}

#pesquisa {
    height: 25px;
    width: 785px;
    margin-top: 17px;
    margin-right: 10px;

    border: none;
    border-radius: 0 15px 15px 0;
}

#filtrar {
    height: 27px;
    width: 27px;
    margin-top: 17px;

    padding: 5px;
    color: var(--color);
    border: 2px solid var(--color);
    border-radius: 10px;
    background: none;
    cursor: pointer;
}

#open_nav {
    /* Tamanho da div */
    width: 40px;
    height: 40px;

    /* Ajustar posição */
    margin-left: 20px;
    margin-top: 10px;
    display: flex;
    cursor: pointer;
    justify-content: center; /* centraliza horizontalmente */
    align-items: center; /* centraliza verticalmente */

    border-radius: 10px;
    border: 0;
    background: none;
}

#open_nav i { /* ícone do button */
    font-size: 25px;
    color: var(--color);
}

/* Fim top-nav */

/* Início inserir_nota */

#inserir_nota {
    /* Sobrepor a div sobre os elementos da tela */
    position: absolute;
    display: none;

    /* Tamanho da div */
    width: 650px;
    height: 400px;

    /* Ajustar posição */
    margin: auto;
    left: 50%; transform: translateX(-50%);
    top: 1%;
    bottom: 1%;
    z-index: 100;

    border-radius: 30px;
    box-shadow: 1px 1px 10px 0px rgb(94, 94, 94);
    transition-duration: 0.6s;
    background-color:  white;
}

#close_nota, #titulo, #conteudo, #salvar {
    display: block;
}

#close_nota {
    /* Tamanho da div */
    width: 8%;
    text-align: right;
    
    /* Fonte */
    font: bold 60px Arial, sans-serif;

    /* Ajustar posição */
    margin-top: 10px;
    margin-right: 72px;
    margin-left: auto; /* joga para a direita */
    /*float: right; /* empurra a div para a direita */
    
    background: none;
    border: none;
    cursor: pointer;
}

#titulo:focus, #conteudo:focus{
    outline: none;
    color: #424642;
}

#titulo{
    /* Tamanho da div */
    width: 80%;
    height: 55px;

    /* Fonte */
    font: bold 50px Arial, sans-serif;

    padding: 15px;
    box-sizing: border-box;
    border-style: none;

    /* Ajustar posição */
    margin: auto;
    margin-bottom: 20px;
}

#conteudo{
    /* Tamanho da div */
    width: 80%;
    height: 40%;
    resize: none; /* desativa redimeensionamento */

    /* Fonte */
    font-size: 18px;

    /* Bordas */
    border-radius: 5px;
    border: 2px solid rgba(0, 0, 0, 0.295);
    
    /* Ajustar posição */
    padding: 15px;
    box-sizing: border-box;
    margin: auto;
}


#salvar{
    width: 80px;

    /* Fontes */
    font: bold 15px Arial, sans-serif;
    text-align: right;

    /* Ajustar posição */
    margin: 30px 50px 15px 0; /* top, right, bottom, left*/
    margin-left: auto; /* joga para a direita */
    margin-right: 72px;

    background: none;
    border: none;

    cursor: pointer;
}

/* Fim inserir_nota */

/* Início grid de notas */

#corpo {
    width: 100vw;
    height: 100vh;
    display: flex;
}

#main {
    /* Tamanho da div */
    width: 65vw;
    height: 70vh;
    
    /* Ajustar posição */
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: auto;
    margin-bottom: 16vh;
    padding: 25px;
    overflow-y: auto;
    overflow-x: hidden;

    /* Bordas */
    border: 1px solid rgba(100, 100, 100, 0.068);
    border-radius: 25px;
    box-shadow: 0px 0px 10px 0px #bdbdbd65;
    background-color: #ffffff75;
}

#add_button {
    /* Tamanho da div */
    width: 80px;
    height: 80px;

    /* Ajustar posição */
    position: absolute;
    bottom: 12vh;
    right: 20vw;
    border-color: var(--color);
    border-radius: 100px;
    cursor: pointer;
    background-color:  white;
}

.fa-plus {
  background: linear-gradient(45deg, #ff1aba, #5630fd, #24f8ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Notas */
.box {
    /* Tamanho da div */
    width: 130px;
    height: 180px;

    /* Ajustar posição */
    margin-inline: 20px;
    margin-top: 10px;
    margin-bottom: 50px;

    border-radius: 15px;

    font-family: var(--font);
    padding: 18px;
    box-shadow: 0px 0px 5px 0px #bdbdbd65;
}

.titulo{
    /* Ajustar posição */
    margin-top: -5px;
    margin-bottom: 10px;

    /* Fonte */
    font: bold 15px Arial, sans-serif;
    text-align: center;

    /* Formatação do texto */
    white-space: nowrap; /* não quebra linha */
    overflow: hidden; /* limita o texto */
    text-overflow: ellipsis; /* adiciona "..." */
    max-width: 100%; /* limite */
    display: block;
}

.conteudo {
    height: 150px;
    font: 12px Arial, sans-serif;
    /* Display do texto */
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 7; /* número de linhas */
    max-height: calc(1.6em * 7);/* fallback para navegadores sem -webkit-line-clamp*/
    line-height: 1.6;

    overflow: hidden; /* limita o texto */
    text-overflow: ellipsis; /* adiciona "..." */
    white-space: normal; /* não manter espaços extras */
    
    /* Permitir quebrar palavras longas no meio */
    overflow-wrap: break-word; 
    word-wrap: break-word;
    hyphens: auto; /* inserir hífens ao quebrar palavras */
}

.editor {
    display: flex;
    margin-top: 10px;
}

.acoes {
    border: none;
    margin-left: auto;
}

.box span {
    height: 17px;
    padding: 0px 8px;
    border: solid 1px #4246428c;
    border-radius: 10px;
    font-size: 14px;
}

.excluir_nota, .editar_nota {
    background: none;
    border: none;
    cursor: pointer;
    float:  right;
}

/* Fim grid de notas */

/* Início Navbar */

#Nav {
   /* Tamanho da div */
    width: 230px;

    /* Fonte */
    font-family: Inter, sans-serif;
    font-size: 15px;

    /* Ajustar posição */
    margin: 10px 0 0 10px;
    padding: 15px;
    box-sizing: border-box;
    display: flex;
    display: none;
    flex-direction: column; /* organiza embaixo */
    gap: 10px;

    z-index: 9; /* ordem de empilhamento */
    right: 0;
    top: 0;
    transition: all 0.5s;
    background: none;
}

#linha {
    display: flex;
}

/* Button */
#close_nav {
    margin-left: auto; /* empurrar para direita */
    font-size: 12px;
    background: none;
    border: none;
    cursor: pointer;
}

#list {
    display: block;
    list-style: none;
    letter-spacing: 1px;
    font-size: 18px;
}

#list li {
    height: 50px;
    width: 100%;
    margin-top: 25px;
    margin-right: 0px;
    line-height: 50px;
    padding-left: 20px;
    border-radius: 25px;
    cursor: pointer;
}

#list li:hover {
    background-color: #79967486;
}

#nome_usuario {
    background-color: #79967486;
}

#sair{
    display: block;
    padding: 0; /* remove espaçamento interno */
    margin: 0; /* remove espaçamento externo */
    line-height: 50px;

    background: none;
    border: none;
    cursor: pointer;

    /* Fonte */
    font-family: Inter, sans-serif;
    font-size: 18px;
}

/* Fim Navbar */

/* Início Trocar Senha */

#tela_trocar_senha {
    display: none;
    flex-direction: column;
    gap: 0px;
    position: absolute;
    height: 100%;
    width: 78%;
    right: 0;
    z-index: 10;

    font-family: Arial, sans-serif;
    padding: 90px 0 0 200px;
    box-sizing: border-box;
    background: #fffdf9;
}

#tela_trocar_senha h2 {
    font-size: 40px;
    margin-bottom: 40px;
    color: var(--color);
}

#tela_trocar_senha h3 {
    font-size: 14px;
    margin-bottom: 5px;
}

#tela_trocar_senha input {
    height: 25px;
    width: 300px;
    margin-bottom: 6px;
}

#mudar_senha {
    height: 35px;
    width: 150px;
    margin-top: 50px;
    background: var(--color);
    color: white;
    border-style: none;
    border-radius: 10px;
    font-size: 16px;
}

/* Fim Trocar Senha */

/* Início Footer 

#credito {
    width: 100%;
    height: 3%;
    position: fixed;
    bottom: 0;
    left: 0;

    background: #bebebe46;
    color: white;
    text-align: center;
    padding: 10px;
}

#credito a{
    color: #525253;
    text-decoration: none;
    font-size: 13px;
}

Fim Footer */